:root {
  --primary-pink: #be2b2e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  color: white !important;
}

.font-link {
  font-family: "Oswald", sans-serif;
}

.bg-img {
  /* The image used */
  background-image: url("./../public/assets/images/landing_bg.jpg");

  height: 100vh;
  /* min-height: 400px; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.about-bg-img {
  background-image: url("./../public/assets/images/about-us-bg.jpeg");
  height: 70vh;
  margin-top: 20px !important;
  /* min-height: 400px; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.brush-bg-img {
  background-image: url("./../public/assets/images/brushes-bg.jpeg");
  height: 70vh;
  margin-top: 20px !important;
  /* min-height: 400px; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

.logo {
  height: 110px;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.option {
  color: white;
}

.active-nav {
  color: var(--primary-pink) !important;
}

.ml-1 {
  margin-left: 10px !important;
}
.ml-2 {
  margin-left: 20px !important;
}
.mt-1 {
  margin-top: 10px !important;
}
.mt-2 {
  margin-top: 20px !important;
}
.mt-3 {
  margin-top: 30px !important;
}
.mr-1 {
  margin-right: 10px !important;
}
.mr-2 {
  margin-right: 20px !important;
}
.mb-1 {
  margin-bottom: 10px !important;
}
.mb-1 {
  margin-bottom: 20px !important;
}

.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}

.line-hr-secondary {
  width: 70px;
  border-top: 3px solid #ffffff !important;
}

.pink-line {
  width: 70px;
  border-top: 3px solid #be2b2e !important;
}

.pink-text {
  color: var(--primary-pink);
}
.pink-bg {
  background-color: var(--primary-pink);
}
.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.6;
  cursor: pointer;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 16px 32px;
  font-weight: bold;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 140px;
  right: 35px;
  color: #f1f1f1;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.dark-nav {
  background-color: #0f0f0f;
}

.black-nav {
  background-color: black;
}

.social-icons {
  color: white;
  font-size: 24px;
}

.rating-star {
  color: #e5983b;
}

.card:hover {
  box-shadow: 7px 6px 15px -3px rgba(0, 0, 0, 0.88);
  -webkit-box-shadow: 2px 2px 7px -1px rgb(0 0 0 / 88%);
  -moz-box-shadow: 7px 6px 15px -3px rgba(0, 0, 0, 0.88);
  cursor: pointer;
}

.prod-desc {
  margin-top: 50px;
  background-color: #f4f6fa;
  /* border: 1px solid #cbf9ff; */
}

.con-1 {
  margin-right: 0.3px;
  margin-left: 0.3px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.image-container {
  position: relative;
  width: max-content;
}

.image-container:hover {
  cursor: pointer;
  background-color: var(--primary-pink);
}

.image-container:hover .image {
  opacity: 0.1;
}

.image-container:hover .middle {
  opacity: 1;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bolder;
}

.gallery-image-container {
  position: relative;
  width: max-content;
}

.gallery-image-container:hover {
  cursor: pointer;
}

.gallery-image-container:hover .image {
  opacity: 0.1;
}

.gallery-image-container:hover .middle {
  opacity: 1;
}
.modal-header {
  border-bottom: none !important;
  padding-bottom: 0px !important;
}

.modal-header .btn-close {
  font-size: 13px;
}

.scrolling-wrapper {
  overflow-x: auto;
}

body {
  font-family: "system-ui";
}

h1 {
  font-weight: 700;
  font-size: 3.4em;
}

.subtitle {
  font-size: 1.25em;
  opacity: 0.65;
}

.card-block {
  height: 320px;
  background-color: #fff;
  border: none;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease-in-out !important;
  border-radius: 24px;
}

.card-block:hover {
  transform: translateY(-5px);
  box-shadow: none;
  opacity: 0.9;
}

.card-1 {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.card-2 {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.card-3 {
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}

.card-4 {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.card-5 {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

.card-6 {
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
}

.card-7 {
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
}

.card-8 {
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}

.card-9 {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.card-10 {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}

.grey-text {
  color: #77838f !important;
}

.course-card {
  min-height: 392px;
}

.course-image {
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  width: 100%;
  transition: transform 0.2s ease-in-out;
}

.card:hover .course-image {
  transform: scale(1.02);
}

.grad-text {
  background: -webkit-linear-gradient(#be2b2e, #ffcbcb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-outline-white {
  color: white;
  border-color: white;
}

.btn-outline-white:hover {
  background-color: white;
  color: black;
}

.perks-icons {
  color: white;
  font-size: 100px;
}
